#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#containerPrincipal{
  flex-grow: 1;
}
.w-form{
  width: 100%;
}

@media all and (min-width:992px){ 
  .w-form{
      width: 75%;
  }
}